<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">Bệnh nhân</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-hover">
          <a class="nav-link text-white font-header;" href="/test">Khám bệnh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  font-header"  href="/doctor">Bác sĩ</a>
        </li>
      </ul>
    </div>  
  </nav>
    <form  action="/doctor-update" method="POST" style="width: 400px;" >
        <h1 class="container">Cập nhật thông tin bác sĩ</h1>
        <div class="form-group container" hidden>
          <label for="Donvilaymau">Đơn vị lấy mẫu:</label>
          <input type="text" class="form-control" id="Donvilaymau" name = "Donvilaymau" value="<%= doctor.Donvilaymau %>">
        </div>
        <div class="form-group container" >
          <label for="Lanhdaodonvi">lãnh đạo đơn vị:</label>
          <input type="text" class="form-control" id="Lanhdaodonvi" name = "Lanhdaodonvi" value="<%= doctor.Lanhdaodonvi%>">
        </div>
        <div class="form-group container">
          <label for="Bacsixetnghiem">Bác sĩ xét nghiệm:</label>
          <input type="text" class="form-control" id="Bacsixetnghiem" name = "Bacsixetnghiem" value="<%= doctor.Bacsixetnghiem%>">
        </div>
        <div class="form-group container">
            <button type="submit" class="btn btn-primary ">Sửa</button>
        </div>   
    </form>
</body>
</html>