body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.custom-alert-popup {
  background-color: red;
}

.custom-alert-title,
.custom-alert-content {
  color: white;
}

.search-wrapper {
  margin: 18px;
  width: 750px;
}

.btn-search {
  border-radius: 10px;
  height: 38px;
}

.mb {
  margin-bottom: 20px;
}

.print {
  width: 56px;
}
